@font-face {
  font-family: 'Aeonik Regular';
  src: local('Aeonik-Regular'), url('../assets/fonts/Aeonik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik Bold';
  src: local('Aeonik-Bold'), url('../assets/fonts/Aeonik-Bold.otf') format('opentype');
}